.Header {
  display: flex;
  align-items: center;
  /* justify-content: space-between;   */
  width: 100vw;
  gap: 2%;
  height: 75px;
  position: fixed;
  top: 0px;
  z-index: 3;
  backdrop-filter: blur(15px);
  border-bottom: 1px solid white;
}

#PersonName {
  margin: 0px;
  padding: 11px 24px;
  font-size: 36px;
  font-weight: 500;
  color: var(--secondary-color);
  text-wrap: nowrap;
}

.toggle {
  position: relative;
  display: flex;
  margin: 0px;
  margin-right: 30px;
  padding: 0px;
  background-color: transparent !important;
  align-items: center;
}

.navButtons {
  display: flex;
  gap: 50px;
  list-style-type: none;
  margin-left: auto;
}

.navButtons li button {
  background-color: transparent;
  color: var(--secondary-color);
}

#toggle--circle {
  position: absolute;
  left: 40px;
  transition: all 0.35s;
}

#toggle--circle rect {
  fill: var(--secondary-color);
}

#toggle--rect rect {
  stroke: var(--secondary-color);
}

@media (max-width: 1000px) {
  .navButtons {
    gap: 0px;
  }
}

@media (max-width: 700px) {
  .navButtons {
    display: none;
  }
  .toggle {
    margin-left: auto;
  }
}

@media (max-width: 780px) {
  .Header {
    gap: 0px;
  }
}

@media (max-width: 400px) {
  #PersonName {
    font-size: 8vw;
    padding: 0px 10px;
  }
}
