.ProjectsCard {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin: 20px;
  /* width: 100%; */
  flex-shrink: 0;
}

.project--image-section {
  width: 100%;
  position: relative;
  overflow-y: scroll;
  scrollbar-width: thin;
  overflow-x: hidden;
  border-radius: 10px 10px 0px 0px;
  aspect-ratio: 1.6;
}

.project--image-section img {
  width: 100%;
  position: absolute;
  transition: all 0.5s;
}

.project--image-section img:hover {
  transform: scale(1.04);
  transition: all 1s;
}

.project--details {
  margin: auto;
}

.project--details > a {
  font-size: 12px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.project--details > a:hover {
  transition: all 0.3s;
  color: #aaaac0;
}

.project--name {
  cursor: pointer;
  color: white;
  font-size: 25px;
  font-weight: 400;
  line-height: 30.26px;
  text-align: center;
}

.project--tech {
  cursor: pointer;
  color: #edba22;
  font-size: 12.8px;
  font-weight: 400;
  line-height: 15.49px;
  text-align: center;
  margin-top: 6.2px;
}

.project--website {
  display: block;
  font-size: 10.24px;
  font-weight: 400;
  line-height: 15.36px;
  text-align: center;
  color: #f5f5f5;
  margin-top: 8.8px;
}

.project--about-section {
  color: white;
  cursor: pointer;
  margin: 24px 34px;
  height: 120px;
  overflow: hidden;
}

.project--about-section:hover h4 {
  font-weight: 600;
  font-size: 20px;
  transition: all 0.2s;
}

.project--about-section:hover p {
  transform: scale(0.95);
  transition: all 0.2s;
}

.project--about-section h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: 18px 0px;
}

.project--about-section--p {
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 60px;
}
.project--about-section p {
  font-size: 14px;
  font-weight: 200;
  line-height: 15.36px;
  text-align: left;
  margin: 0px;
}

.project--description {
  background-color: #74747476;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.709);
  border-radius: 0px 0px 10px 10px;
  border-top: transparent;
}

@media (max-width: 1000px) {
  .project--image-section {
    min-height: 2px;
  }
  .ProjectsCard {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
