.Sidebar {
  position: fixed;
  left: 0px;
  top: 75px;
  width: 25%;
  height: 100vh;
  box-sizing: border-box;
  padding: 10px 1em;
  margin-right: 50px;
  text-align: center;
  border-right: 1px solid #fff;
}

.sidebar-relative {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.userImage {
  width: 70%;
  border-radius: 50%;
  border: 5px solid transparent;
  background: linear-gradient(to right bottom, var(--secondary-color), #fff);
  margin-top: 50px;
  background-origin: border-box; /*This Line does all the magic*/
  overflow: hidden;
  aspect-ratio: 1;
}

.userImage img {
  width: 100%;
  left: 0px;
  top: 0px;
  transition: all 0.5s;
}

.userImage img:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.basicInfo {
  text-wrap: nowrap;
}

.sidebar-name {
  background: linear-gradient(90deg, var(--secondary-color), #b0b0b0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-size: 24px; */
  font-weight: 600;
  font-size: 2vw;
}

.sidebar-role {
  font-weight: 600;
  font-size: 1.5vw;
}

.basicInfo > * {
  margin: 0px;
  margin-top: 20px;
}

.Experience p {
  margin: 0px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 200;
}

.SocialIcons {
  margin-top: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* padding: 10px 10%; */
  justify-content: center;
  gap: 5px;
  list-style-type: none;
}

.social--icons {
  width: 30px;
  height: 30px;
  transition: all 0.3s;
  border-radius: 12px;
}

.social--icons:hover {
  width: 42px;
  height: 42px;
  transition: all 0.3s;
}

#linkedin:hover {
  background-color: #0a66c2;
}
#github:hover {
  background-color: rgb(255, 255, 255);
}
#email:hover {
  background-color: #f6e681;
}
#twitter:hover {
  background-color: #fff;
}

#contactMe button {
  background-color: var(--secondary-color);
  /* min-width: 128px; */
  border-radius: 50px;
  margin-top: 20px;
  text-wrap: nowrap;
  transition: all 0.5s;
}

#contactMe {
  font-size: 100%;
  color: white;
}

#contactMe button:hover {
  transform: scale(0.9);
  background-color: #9f71bc;
  transition: all 0.5s;
}

@media (max-width: 600px) {
  .Sidebar {
    position: relative;
    width: 100%;
    margin-right: 0px;
    border: none;
    margin-bottom: 50px;
    padding: 0px;
  }

  .sidebar-name {
    font-size: 26px;
    font-weight: 600;
  }

  .sidebar-role {
    font-size: 20px;
  }
}
