.fixedBackground {
  overflow: auto;
  position: fixed;
  height: 150vh;
  width: 100vw;
  background-image: url(../src/assets/backgroundBright.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  right: 0px;
  z-index: -10;
}
